* {
   margin: 0;
   padding: 0;
}

body { 
     background-color: #0D0D14;
    
}


.h2{
    margin-top:20px;
    margin-left:20px;
      
}
.div_1 .skill_section {
                     margin-top:20px;
                     background-color:#0d051251;
                     max-width :25vw;
                     min-height:20vh;
                      margin-left:40px;

}


.div_1{
    background-color: #8e24ab84;
    overflow: hidden;
    height: min-content;
    max-width:fit-content;
    margin: 0 auto;
}

.portfolio_img{ 
             float: right;
             margin-right: 20px;
             


}

#myabout {
    background-color: #470848da;
    width: 758px ;
    margin: 0 auto;
}



